body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
