.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: #18171C;
}

.navbar li {
  margin-left: 13%;
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li .icon {
  display: flex;
  align-items: center;
  min-width:25px;
  font-size: 13px;
}

.navbar li .icon,
.navbar li .text {
  font-size: 13px;
  color: #A3A4AA;
}

.navbar .title-name {
  position: relative;
}

.navbar li a{
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
