body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.bold-letters {
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: #18171C;
}

.navbar li {
  margin-left: 13%;
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li .icon {
  display: flex;
  align-items: center;
  min-width:25px;
  font-size: 13px;
}

.navbar li .icon,
.navbar li .text {
  font-size: 13px;
  color: #A3A4AA;
}

.navbar .title-name {
  position: relative;
}

.navbar li a{
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.border-top{
  width: 70%;
  border-top: solid 1px #2B2A30;
}

.title-name {
  margin-left: 13%;
  font-size: 20px;
  color: #F6F6F8;
}

.menu-links {
  margin: 0;
  padding-left: 0;
}

.navbar .menu-navbar {
  height: 100%;
}

.bottom-menu {
  margin-right: 60%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join {
  padding-left: 16px;
  padding-right: 63px;
  background-color: #27262B;
  border-radius: 10px;
  border: solid 1px #27262B;
}

.button-join {
  background-color: #6466F1;
  padding: 7px 20px;
  border-radius: 8px;
  border: solid 1px #27262B;
  display: flex;
  align-items: center;
  color: #F4F7FC;
  margin-bottom: 1rem;
}

.discord {
  font-size: 16px;
  color: #F6F6F8;
  margin-bottom: 0;
}

.members {
  font-size: 10px;
  color: #BBBBBD;
}

.bottom-setting {
  padding: 0px 20px 0px 18px;
  margin-top: 3.5rem;
}

.title-page {
  margin: 0;
  position: relative;
  left: 180px;
  height: 100vh;
  width: 85%;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-courses {
  margin-top: 13px;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.badge {
  margin-top: 1px;
  margin-left: 10px;
  color: #F9D0EA;
  font-size: 9px;
  width: 35px;
  padding: 1px;
  border-radius: 3px;
  background-color: #ED4999;
  border: solid 1px #ED4999;
  text-align: center;
}

.title-course {
  display: flex;
  align-items: center;
  flex: 1;
}

.title-icon {
  margin-top: -8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.icon-list li {
  margin-left: 20px;
}

.search-bar {
  padding: 5px;
  background-color: #FFFFFF;
  border: solid 1px #F8F8F8;
  border-radius: 8px;
}

.search-bar input {
  background: transparent;
  border: 0px;
  outline: none;
  font-size: 13px;
}

.search-bar button {
  border: 0px;
  background-color: #FFFFFF;
  color: #B3B2B6;
}

.vertical-menu a{
  display: block;
  color: #B7B7BA;
  background-color: #F5F5F7;
  padding: 5px 10px;
}

